@charset "UTF-8";
/*Importation polices de caractères*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
/*Importation des variables*/
/*Déclaration des couleurs*/
/*Importation des keyframes*/
/*Keyframes*/
/*Barre de chargement*/
@keyframes chargement {
  0% {
    transform: scaleX(0);
  }
  17% {
    transform: scaleX(0.18);
  }
  24% {
    transform: scaleX(0.4);
    animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
  }
  46% {
    transform: scaleX(0.81);
    animation-timing-function: cubic-bezier(0.25, 0, 0.25, 1);
  }
  85%, 100% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
  }
}
/*Apparition du site*/
@keyframes containerindex {
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0);
  }
}
/*Apparition des plats*/
@keyframes transition {
  0% {
    margin-top: 30px;
    opacity: 0;
  }
  100% {
    margin-top: 15px;
    opacity: 1;
  }
}
.entrees > div {
  opacity: 0;
  animation: transition 2s ease-in-out 0.5s forwards;
}

.plats > div {
  opacity: 0;
  animation: transition 2s ease-in-out 1.5s forwards;
}

.desserts > div {
  opacity: 0;
  animation: transition 2s ease-in-out 2.5s forwards;
}

/*Apparition de la coche verte si on survole un plat*/
@keyframes cocheverte {
  0% {
    transform: scaleX(0);
    width: 0%;
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: scaleX(1);
    width: 16.5%;
    opacity: 1;
  }
}
/*Importation des parties communes*/
/*Règles communes à toutes les pages*/
* {
  margin: 0;
  padding: 0;
}

.container {
  background: #ffffff;
  min-width: 300px;
  max-width: 767px;
  width: 100%;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

img {
  width: 100%;
}

a {
  outline: none;
  text-decoration: none;
  color: #000000;
}

footer > *, .restaurants, .mainmenu > div, .secmenu > h2 {
  margin-left: 5.33%;
  margin-right: 5.33%;
}

/*Boutons et leur animation*/
button {
  border-radius: 25px;
  border: 0;
  padding: 4%;
  width: 57.87%;
  font-weight: bold;
  font-size: 1.1em;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  color: #ffffff;
  position: relative;
  z-index: 1;
  box-shadow: 2px 2px 8px grey;
  cursor: pointer;
}
button:hover {
  border-radius: 25px;
}
button:hover::after {
  border-radius: 25px;
  opacity: 1;
}
button::after {
  border-radius: 25px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom right, #ff98e2 0%, #a36fe1 100%);
  box-shadow: 10px 10px 10px grey;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

/*Animation des coeurs*/
.far {
  position: relative;
  z-index: 1;
}
.far:hover {
  color: transparent;
}
.far:hover .fas {
  opacity: 1;
}
.far .fas {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -o-background-clip: text;
  -ms-background-clip: text;
  color: transparent;
  opacity: 0;
  z-index: -1;
  transition: opacity 500ms;
}

/*FOOTER*/
footer {
  background: #353535;
  height: 195px;
}
footer h2 {
  padding-top: 25px;
  margin-bottom: 20px;
  font-family: Shrikhand;
  font-weight: normal;
  font-size: 1.1em;
  color: #ffffff;
}
footer .footer {
  color: #ffffff;
}
footer ul {
  list-style: none;
  padding: 0px;
}
footer li {
  margin-bottom: 10px;
}
footer i {
  width: 1em;
}
footer span {
  position: relative;
  margin-left: 3%;
}
footer a {
  color: #ffffff;
}
footer a:link, footer a:visited {
  color: #ffffff;
}

/*Importation du scss de la page index*/
/*Fichier SASS pour la page index.html*/
/*Loading Spinner*/
.barre {
  height: 100px;
  width: 95%;
  margin-top: 250px;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
  border: 4px solid #ff79da;
  background: #99e2d0;
  position: absolute;
  z-index: -1000;
}
.barre__chargement {
  height: 100px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background: #9356dc;
  transform-origin: left;
  transform: scaleX(0.5);
  animation: chargement 2000ms 150ms both;
}

.containerindex {
  animation: containerindex 0ms 2150ms both;
}

/*HEADER*/
header {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 3px 0px #cecece;
  position: relative;
  z-index: 1;
}
header img {
  width: 44%;
}

.lieu {
  position: relative;
  z-index: 0;
  height: 50px;
  width: 100%;
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lieu i, .lieu span {
  margin: 3%;
}

/*Section présentation*/
.presentation {
  height: 285px;
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.presentation h2, .presentation p, .presentation button {
  margin-right: 6%;
  margin-left: 6%;
  margin-top: 8.5px;
  margin-bottom: 8.5px;
}

/*Section Fonctionnement*/
.fonctionnement {
  height: 440px;
  display: flex;
  flex-direction: column;
}
.fonctionnement > * {
  margin-left: 5.33%;
  margin-right: 5.33%;
}
.fonctionnement h2 {
  margin-top: 51px;
  margin-bottom: 21px;
}
.fonctionnement div {
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 8.8%;
  height: 75px;
  border-radius: 25px;
  border: 0;
  box-shadow: 2px 2px 8px lightgrey;
  background: #f6f6f6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.fonctionnement div .nb {
  position: relative;
  left: -3.6%;
  border: 0;
  border-radius: 25px;
  padding-left: 2.2%;
  padding-right: 2.2%;
  padding-bottom: 1.05%;
  padding-top: 1.05%;
  background: #9356dc;
  color: #ffffff;
}
.fonctionnement div i {
  position: relative;
  left: 4%;
}
.fonctionnement div .desc {
  position: relative;
  left: 10%;
}
.fonctionnement div:hover {
  background: #f2eafb;
}
.fonctionnement div:hover i {
  color: #9356dc;
}

/*Section cartes restaurants*/
main {
  height: 1225px;
  background: #f6f6f6;
}

.restaurants {
  padding-top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.restaurants h2 {
  margin-bottom: 25px;
}
.restaurants figure {
  background: #ffffff;
  border-radius: 25px;
  height: 250px;
  margin-bottom: 15px;
  box-shadow: 4px 4px 20px #ccc;
  cursor: pointer;
}
.restaurants img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 70%;
  object-fit: cover;
}
.restaurants .divfig {
  height: 30%;
  margin-right: 5.2%;
  margin-left: 5.2%;
  font-size: 0.9em;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-between;
}
.restaurants .divfig h3 {
  margin-top: 16px;
  flex-basis: 80%;
}
.restaurants .divfig__desc {
  order: 1;
  flex-basis: 80%;
}
.restaurants .nouveau {
  background: #99e2d0;
  width: 23.88%;
  height: 12%;
  position: relative;
  right: -72%;
  margin-top: -210px;
  border-radius: 5px;
  color: #278870;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Positionnement des coeurs*/
.coeur {
  margin-top: -58px;
  margin-left: 89.6%;
  font-size: 1.6em;
  font-weight: normal;
}

/*Importation de scss des pages de menu*/
.header {
  box-shadow: none;
}
.header a {
  position: relative;
  left: -21.33%;
}

.imgmenu {
  height: 255px;
  position: relative;
  z-index: 1;
}

/*Section principale détail des menus*/
.mainmenu {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -35px;
  padding-top: 35px;
  height: auto;
  position: relative;
  z-index: 2;
}
.mainmenu h1 {
  font-family: Shrikhand;
  font-size: 1.7em;
  font-weight: normal;
}
.mainmenu > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainmenu > div p {
  font-size: 1.6em;
}
.mainmenu .divbutton {
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 50px;
}

/*Détail d'une section de la carte ENTREES PLATS DESSERTS*/
.secmenu h2 {
  margin-top: 40px;
  margin-bottom: 7.5px;
  font-size: 1em;
  font-weight: normal;
  padding-bottom: 8px;
  width: 2.5em;
  border-bottom: 3px solid #99e2d0;
}

.recette {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 15px;
  width: 92%;
  height: 68px;
  background: #ffffff;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recette > * {
  height: 68px;
}
.recette__detail {
  display: flex;
  margin-left: 4%;
  width: 72.5%;
  flex-direction: column;
  justify-content: center;
}
.recette__detail h3 {
  font-size: 1em;
  width: 92%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.recette__detail p {
  font-size: 0.9em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.recette__prix {
  width: 7%;
  margin-right: 4%;
  font-weight: bold;
  text-align: right;
}
.recette__prix p {
  margin-top: 37px;
}
.recette__choix {
  display: none;
}
.recette:hover > .recette__choix {
  background: #99e2d0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: cocheverte 800ms forwards;
}
.recette:hover > .recette__choix i {
  padding: 5px;
  border-radius: 25px;
  background: #ffffff;
  color: #99e2d0;
}

/*# sourceMappingURL=style.css.map */
