/*Règles communes à toutes les pages*/
*{
    margin:0; padding:0;
    }
.container {
    background:$couleurblanc;
    min-width: 300px;
    max-width: 767px;
    width:100%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size:1em;
    }
img{
    width: 100%;
    }
a{
    outline: none;
    text-decoration: none;
    color: #000000;
    }
footer>*, .restaurants, .mainmenu>div, .secmenu>h2{
    margin-left: 5.33%; margin-right: 5.33%;
    }

/*Boutons et leur animation*/
button{
    border-radius: 25px; border:0;
    padding:4%;
    width:57.87%;
    font-weight: bold;
    font-size: 1.1em;
    background: linear-gradient(to bottom right, $couleursec, $couleurpri);
    color: $couleurblanc;
    position: relative;
    z-index: 1;
    box-shadow: 2px 2px 8px grey;
    cursor:pointer;
    &:hover {
        border-radius: 25px;
        &::after {
            border-radius: 25px;
            opacity: 1;
            }
        }
    &::after {
        border-radius: 25px;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(to bottom right, lighten($couleursec, 6) 0%, lighten($couleurpri, 6) 100%);
        box-shadow: 10px 10px 10px grey;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
        }
    }

/*Animation des coeurs*/
.far{
    position: relative;
    z-index: 1;
    &:hover {
        color:transparent;
        & .fas {
            opacity: 1;
            }
        }
    & .fas {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;  
        left: 0;
        background:-webkit-linear-gradient($couleurpri, $couleursec);
        //background-clip: text;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        -o-background-clip: text;
        -ms-background-clip: text;
        color: transparent;
        opacity: 0;
        z-index: -1;
        transition: opacity 500ms;
        }
    }

/*FOOTER*/
footer{
    background:#353535;
    height:195px;
    h2{
        padding-top: 25px; margin-bottom: 20px;
        font-family: Shrikhand;
        font-weight: normal;
        font-size:1.1em;
        color: $couleurblanc;
        }
    .footer{
        color:$couleurblanc;
        }
    ul{
        list-style:none;
        padding: 0px;
        }
    li{
        margin-bottom: 10px;
        }
    i{
        width:1em;
        }
    span{
        position: relative;
        margin-left: 3%;
        }
    a {
        color: $couleurblanc;
        }
    a:link, & a:visited {
        color: $couleurblanc;
        }
    }