/*Keyframes*/


/*Barre de chargement*/
@keyframes chargement {
    0% {
        transform: scaleX(0);
        }
    17% {
        transform: scaleX(.18);
        }
    24% {
        transform: scaleX(.40);
        animation-timing-function: cubic-bezier(.9,0,.1,1);
        }
    46% {
        transform: scaleX(.81);
        animation-timing-function: cubic-bezier(.25,0,0.25,1);
        }
    85%,100% {
        opacity: 1;
        }
    100% {
        transform: scaleX(1);
        }
    }

/*Apparition du site*/
@keyframes containerindex{
    0% {
        transform: translateX(-9999px);
        }
    100% {
        transform: translateX(0);
        }
    }

/*Apparition des plats*/
@keyframes transition {
    0%   { margin-top: 30px; opacity:0; }
    100% { margin-top: 15px; opacity:1; }
    }
/*.entrees{
    >div {opacity:0;animation: transition 2s ease-in-out 0.5s forwards;}
    }
.plats{
    >div {opacity:0;animation: transition 2s ease-in-out 1.5s forwards;}
    }
.desserts{
    >div {opacity:0;animation: transition 2s ease-in-out 2.5s forwards;}
    }*/

/*Apparition de la coche verte si on survole un plat*/
//Diminution de la largeur de recette__detail
@keyframes cochedetail{
    from {
        width:85%;
        }
   to {
        width:68.5%;
        }
    }
//Décalage vers la gauche de recette__coche
@keyframes cocheverte {
   from {
        transform: translateX(0);
        }
   to {
        transform: translateX(-100%);
        }
    }
//Décalage vers la gauche de recette__prix
@keyframes cocheprix {
   from {
        transform: translateX(0);
        }
   to {
        transform: translateX(-223%);
        }
    }
//Rotation à l'intérieur de la coche
@keyframes rotation {
   0% {
        transform: rotate(0);
        }
    30%{
        transform: rotate(0);
        }
   100% {
        transform: rotate(360deg);
        }
   }