.header{
    box-shadow: none;
    a {
        position: relative;
        left:-21.33%;
        @include ordinateur{
            left:-35%; font-size:1.2em;
            }
        @include tablette{
            left:-28%; font-size:1.1em;
            }
        }
    }
.imgmenu{
    height:255px;
    position: relative;
    z-index: 1;
    @include ordinateur{
        display: none;
        }
    @include tablette{
        height:400px;
        }
    }

/*Section principale détail des menus*/
.mainmenu{
    border-top-left-radius: 30px; border-top-right-radius: 30px;
    margin-top: -35px; padding-top: 35px;
    height:auto;
    position: relative;
    z-index: 2;
    @include ordinateur{
        margin-top: 0px;
        display: flex;
        flex-flow: row wrap;
        >div{
            width:90%;
            }
        .entrees{
            margin-left: 4%;
            }
        .desserts{
            margin-right: 4%;
            }
        }
    h1{
        font-family: Shrikhand;
        font-size: 1.7em;
        font-weight: normal;
        }
    >div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            font-size: 1.6em;
            }
        }
    .divbutton{
        justify-content: center;
        margin-top: 50px; padding-bottom: 50px;
        }
    }

    .entrees{
        >div {opacity:0;animation: transition 2s ease-in-out 0.5s forwards;}
        }
    .plats{
        >div {opacity:0;animation: transition 2s ease-in-out 1.5s forwards;}
        }
    .desserts{
        >div {opacity:0;animation: transition 2s ease-in-out 2.5s forwards;}
        }

/*Détail d'une section de la carte ENTREES PLATS DESSERTS*/
.secmenu{
    h2{
        margin-top: 40px; margin-bottom: 7.5px;
        font-size: 1em;
        font-weight: normal;
        padding-bottom: 8px;
        width:2.5em;
        border-bottom: 3px solid $couleurter;
        }
    @include ordinateur{
        width: 30%;
        }
    }
.recette{
    position:relative;
    margin-left: 4%; margin-right: 4%; margin-top: 15px;
    width:92%; height:68px;
    background:$couleurblanc;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 2px 2px 5px grey;
    overflow: hidden;
    >*{
        height:68px;
        } 
    &__detail{   
        display: flex;
        margin-left: 4%;
        width:85%;
        flex-direction: column;
        justify-content: center;
        h3{
            width:100%;
            font-size: 1em;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            }
        p{
            width:100%;
            font-size: 0.9em;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            }
        }
    &__prix{
        position: absolute;
        left:89%;
        width:7%; margin-right: 4%;
        font-weight: bold;
        text-align: right;
        p{
            margin-top: 37px;
            }
        }
    &__choix{
        position:absolute;
            left:100%;
            width:16.5%;
            background: $couleurter;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            height:68px;
            display: flex;
            justify-content: center;
            align-items: center;
            i{
                padding:5px;
                border-radius: 25px;
                background: $couleurblanc;
                color: $couleurter;
                }
        }
    &:hover {
        & > .recette__detail{
            animation: cochedetail 800ms forwards;
            }
        & > .recette__prix{
            animation: cocheprix 800ms forwards;
            } 
        & > .recette__choix {
            animation: cocheverte 800ms forwards;
            i{
                animation: rotation 800ms forwards;        
                }
            }
        }
    }
