/*Déclaration des couleurs*/
$couleurpri:#9356dc;
$couleursec:#ff79da;
$couleurter:#99e2d0;
$couleurblanc:#ffffff;
$couleurfond:#f6f6f6;

$duree-chargement: 2000ms;
$delai-chargement: 150ms;
$delaicontainerindex: $duree-chargement + $delai-chargement;