/*Importation polices de caractères*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap');

/*Déclaration des couleurs*/
$couleurpri:#9356dc;
$couleursec:#ff79da;
$couleurter:#99e2d0;
$couleurblanc:#ffffff;
$couleurfond:#f6f6f6;

/*Importation des parties communes*/
@import "./commun";

/*Importation du scss de la page index*/
@import "./index";

/*Importation de scss des pages de menu*/
@import "./menu";